@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.ttf');
  font-weight: 400;
}